{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock title %}

{% block body %}

<div class="order-2 order-md-2 col-12 col-md-10 min-height min-page-height py-3">

	<article class="about-section py-5">
		<div class="container">
			<h2 class="title mb-3">About Us</h2>

			<p>Developer's Blog</p>
			<figure><img class="img-fluid" src="{%static '/images/about-me.jpg'%}" alt="image"></figure>
			<h5 class="mt-5">About The Blog</h5>
			<p>About the blog</p>
			

			
		</div>
	</article>
	<!--//about-section-->

</div>

{% endblock body %}