{% extends 'base.html' %}
{% load static %}
{% block title %} BlogList {% endblock title %}

{% block body %}

<div class="main-wrapper">

	<section class="blog-list px-3 py-5 p-md-5">
		<div class="container">
		{% for post in allPosts %}
            <div class="item mb-5">

                <div class="media">
                    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="/media/{{ post.image }}" alt="image" />
                    <div class="media-body">
                        <h3 class="title mb-1"><a href="/blog/{{post.slug}}">{{post.title}}</a>
                        </h3>
                        <div class="meta mb-1"><span class="date">{{post.timestamp}}</span><span class="time">5
                                min read</span><span class="comment"><a href="#">8 comments</a></span></div>
                        
                                    <div class="intro">{{post.content|safe | truncatechars:500}}</div>
                        <a class="more-link" href="/blog/{{post.slug}}">Read more &rarr;</a>
                    </div>
                    <!--//media-body-->
                </div>
                <!--//media-->
            </div>
            {% endfor %}
			
			<nav class="blog-nav nav nav-justified my-5">
				<a class="nav-link-prev nav-item nav-link rounded-left" href="index.html">Previous<i
						class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
				<a class="nav-link-next nav-item nav-link rounded-right" href="blog-list.html">Next<i
						class="arrow-next fas fa-long-arrow-alt-right"></i></a>
			</nav>

		</div>
	</section>

	<footer class="footer text-center py-2 theme-bg-dark">

		<!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
		<small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a
				href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>

	</footer>

</div>

{% endblock body %}