{% extends 'base.html' %}
{% load static %}
{% block title %} Post Create {% endblock title %}

{% block body %}
<div class="order-2 order-md-2 col-12 col-md-10 min-height min-page-height py-3">
    
    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">
            <h2>Create New Post</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" aria-describedby="title">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" name="content" id="content" cols="30" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="tags">Tags</label>
                    <input type="text" class="form-control" id="tags" name="tags" aria-describedby="tags">
                </div>
            
                <button type="submit" class="btn btn-primary">Save</button>
            </form>

        </div>
    </section>

</div>
{% endblock body %}