{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock title %}
{% block meta %}A Competitive Programming portal for computer science enthusiast. It contains well written and well explained articles on 
    competitive programming, tutorials on various current technologies & framework like django, pytorch, flask etc. , and tips for aceing the coding interview. We also post articles on Leetcode 
    Monthly challenge with well written and well explained solutions. 
    This is a goto website any computer science geek.{% endblock meta %}

{% block body %}

<div class="order-2 order-md-2 col-12 col-md-10 min-height min-page-height py-3">

	<article class="about-section py-5">
		<div class="container">
			{% comment %} <h2 class="title mb-3">About Us</h2> {% endcomment %}

			<h5>Contributors :</h5>
			{% comment %} <figure><img class="img-fluid" src="{%static '/images/about-me.jpg'%}" alt="image"></figure>
			{% endcomment %}
			{% comment %} <h5 class="mt-5">About The Blog</h5> {% endcomment %}
			<ul>
				<li>Sarthak Naithani</li>
				<li>Mehul Arora</li>
			</ul>
		</div>
	</article>
	<!--//about-section-->

</div>

{% endblock body %}