{% extends 'base.html' %}
{% load static %}
{% block title %}Developer's Blog | Chat Rooms{% endblock title %}
{% block meta %}A Competitive Programming portal for computer science enthusiast. It contains well written and well explained articles on 
    competitive programming, tutorials on various current technologies & framework like django, pytorch, flask etc. , and tips for aceing the coding interview. We also post articles on Leetcode 
    Monthly challenge with well written and well explained solutions. 
    This is a goto website any computer science geek.{% endblock meta %}
{% block keywords %}Competitive Coding, C++, Python, LeetCode Challenge, Google KickStart, Tutorials, Django{% endblock keywords %}
{% block body %}

<div class="order-2 order-md-2 col-12 col-md-10 min-height min-page-height py-3">

    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">
            <h3>Enter a chat room name (eg. lobby)</h3><br />
            <div class="form-group">
                <input type="text" class="form-control" id="room-name-input" name="room-name-input"
                    aria-describedby="room-name-input">
            </div>
            {% comment %} <button type="button" class="btn btn-primary">Save</button> {% endcomment %}
            {% comment %} <input id="room-name-input" type="text" size="100" /><br /> {% endcomment %}
            <input id="room-name-submit" class="btn btn-primary" type="button" value="Enter" />


        </div>
    </section>

</div>

<script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function (e) {
            if (e.keyCode === 13) { // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function (e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>

{% endblock body %}




{% comment %}
<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Rooms</title>
</head>

<body>
    What chat room would you like to enter?<br />
    <input id="room-name-input" type="text" size="100" /><br />
    <input id="room-name-submit" type="button" value="Enter" />
</body>
<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function (e) {
        if (e.keyCode === 13) { // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function (e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/' + roomName + '/';
    };
</script>

</html> {% endcomment %}