{% extends 'base.html' %}
{% load static %}
{% block title %} Developer's Blog | Contact Us {% endblock title %}
{% block meta %}A Competitive Programming portal for computer science enthusiast. It contains well written and well explained articles on 
    competitive programming, tutorials on various current technologies & framework like django, pytorch, flask etc. , and tips for aceing the coding interview. We also post articles on Leetcode 
    Monthly challenge with well written and well explained solutions. 
    This is a goto website any computer science geek.{% endblock meta %}

{% block body %}
<div class="order-2 order-md-2 col-12 col-md-10 min-height min-page-height py-3">

    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">
            <h2>Contact DevBlog Admin</h2>
            <form method="post" action="/contact">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="name">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="phone" class="form-control" id="phone" name="phone">
                </div>
                <div class="form-group">
                    <label for="content">Describe you're issue :</label>
                    <textarea class="form-control" name="content" id="content" cols="30" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>



        </div>
    </section>

    

</div>


{% endblock body %}