{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block meta %}A Competitive Programming portal for computer science enthusiast. It contains well written and well explained articles on 
    competitive programming, tutorials on various current technologies & framework like django, pytorch, flask etc. , and tips for aceing the coding interview. We also post articles on Leetcode 
    Monthly challenge with well written and well explained solutions. 
    This is a goto website any computer science geek.{% endblock meta %}


{% block body %}
<div class="order-2 order-md-2 col-12 col-md-10 min-height min-page-height py-3">

    {% comment %} <div class="jumbotron jumbotron-fluid bg-dark">

        <div class="jumbotron-background">
            <img src="media/uploads/bgimg1.jpg">
        </div>

        <div class="container text-white">

            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

        </div>



    </div> <!-- /.container --> {% endcomment %}

    <div style="background:transparent !important" class="jumbotron">
        <div class="bg"></div>
        <div class="container-fluid text-center">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">This site contains various projects & tutorials We have worked on</p>
            <p><a href="/about" class="btn btn-outline-success btn-lg" role="button">Learn more</a></p>

        </div>

    </div>
    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">
            {% for post in allPosts %}
            <div class="item mb-5">

                <div class="media">
                    <img class="mr-2 my-4 img-fluid post-thumb d-none d-md-flex" src="{{ post.image }}" alt="image" />
                    <div class="media-body">
                        <div class="meta mb-1"><strong class="d-inline-block mb-2 text-warning">@{{post.author}}
                                |</strong><span class="date" style="margin-left: 0.5em;">{{post.timestamp}}</span><span
                                class="comment"><a href="#">8 comments</a></span></div>
                        <h3 class="title mb-1"><a href="/blog/{{post.sno}}">{{post.title}}</a>
                        </h3>
                        {% for tag in post.tags.all %}
                        <a href="#" class="mr-1 badge badge-secondary">#{{ tag }}</a>
                        {% endfor %}
                        <div class="intro">{{post.content|safe | truncatechars:500}}</div>
                        <a class="more-link" href="/blog/{{post.sno}}">Read more &rarr;</a>
                    </div>
                    <!--//media-body-->
                </div>
                <!--//media-->
            </div>
            {% endfor %}
            <!--//item-->

        </div>
    </section>


</div>
{% endblock body %}