{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Developer's Blog | Login {% endblock title %}
{% block meta %}A Competitive Programming portal for computer science enthusiast. It contains well written and well explained articles on 
    competitive programming, tutorials on various current technologies & framework like django, pytorch, flask etc. , and tips for aceing the coding interview. We also post articles on Leetcode 
    Monthly challenge with well written and well explained solutions. 
    This is a goto website any computer science geek.{% endblock meta %}

{% block body %}
<div class="order-2 order-md-2 col-12 col-md-10 min-height min-page-height py-3">
    <section class="blog-list px-3 py-5 p-md-5">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
                <small class="text-muted ml-2">
                    <a href="#">Forgot Password?</a>
                </small>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </section>

</div>

{% endblock body %}