{% extends 'base.html' %}
{% load static %}
{% block title %} Developers Blog | Post Delete {% endblock title %}
{% block meta %}A Competitive Programming portal for computer science enthusiast. It contains well written and well explained articles on 
    competitive programming, tutorials on various current technologies & framework like django, pytorch, flask etc. , and tips for aceing the coding interview. We also post articles on Leetcode 
    Monthly challenge with well written and well explained solutions. 
    This is a goto website any computer science geek.{% endblock meta %}
{% block keywords %}Competitive Coding, C++, Python, LeetCode Challenge, Google KickStart, Tutorials, Django{% endblock keywords %}
{% block body %}
<div class="order-2 order-md-2 col-12 col-md-10 min-height min-page-height py-3">

    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">

            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Delete Post</legend>
                    <h2>Are you sure you want to delete the post "{{ object.title }}"</h2>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                    <a class="btn btn-outline-secondary" href="{% url 'blogPost' object.pk %}">Cancel</a>
                </div>
            </form>

        </div>
    </section>

</div>
{% endblock body %}