{% extends 'base.html' %}
{% load static %}
{% block title %} Developer's Blog | Post Create {% endblock title %}
{% block meta %}A Competitive Programming portal for computer science enthusiast. It contains well written and well explained articles on 
    competitive programming, tutorials on various current technologies & framework like django, pytorch, flask etc. , and tips for aceing the coding interview. We also post articles on Leetcode 
    Monthly challenge with well written and well explained solutions. 
    This is a goto website any computer science geek.{% endblock meta %}
{% block keywords %}Competitive Coding, C++, Python, LeetCode Challenge, Google KickStart, Tutorials, Django{% endblock keywords %}
{% block body %}
<div class="order-2 order-md-2 col-12 col-md-10 min-height min-page-height py-3">
    
    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">
            <h2>Create New Post</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" aria-describedby="title">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" name="content" id="content" cols="30" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="tags">Tags</label>
                    <input type="text" class="form-control" id="tags" name="tags" aria-describedby="tags">
                </div>
            
                <button type="submit" class="btn btn-primary">Save</button>
            </form>

        </div>
    </section>

</div>
{% endblock body %}