{% extends 'base.html' %}
{% load static %}
{% block title %} Search Results {% endblock title %}

{% block body %}

<div class="order-2 order-md-2 col-12 col-md-10 min-height min-page-height py-3">

    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">
            <h2>Search Results:</h2>
            {% if allPosts|length < 1 %}
            <p>No search results</p>
            Your search query: <b>{{query}}</b> did not match any documents.<br>
            Suggestions:
            <ul>
                <li>Make sure that all words are spelled correctly.</li>
                <li>Try different keywords.</li>
                <li>Try more general keywords.</li>
            </ul>
            {% endif %}
            {% for post in allPosts %}
            <div class="item mb-5">

                <div class="media">
                    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="/media/{{ post.image }}" alt="image" />
                    <div class="media-body">
                        <h3 class="title mb-1"><a href="/blog/{{post.sno}}">{{post.title}}</a>
                        </h3>
                        <div class="meta mb-1"><span class="date">{{post.timestamp}}</span><span class="time">5
                                min read</span><span class="comment"><a href="#">8 comments</a></span></div>
                        </h3>
                        {% for tag in post.tags.all %}
                        <a href="#" class="mr-1 badge badge-secondary">#{{ tag }}</a>
                        {% endfor %}
                        <div class="intro">{{post.content|safe | truncatechars:500}}</div>
                        <a class="more-link" href="/blog/{{post.sno}}">Read more &rarr;</a>
                    </div>
                    <!--//media-body-->
                </div>
                <!--//media-->
            </div>
            {% endfor %}



        </div>
    </section>

</div>

{% endblock body %}