{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Developer's Blog|
        {% block title %}{% endblock title %}
    </title>

    <!-- Meta -->
    
    <meta name="description" content="{% block meta %}{% endblock meta %}">
    <meta name="google-site-verification" content="JrFtV23oqiHmMD9j0o45VQHPCMTB0wM1MIxIP3KhSnw" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% comment %} <meta name="description" content="A Competitive Programming portal for computer science enthusiast. It contains well written and well explained articles on 
    competitive programming, tutorials on various current technologies & framework like django, pytorch, flask etc. , and tips for aceing the coding interview. We also post articles on Leetcode 
    Monthly challenge with well written and well explained solutions. 
    This is a goto website any computer science geek."> {% endcomment %}
    <meta name="author" content="SarthakNaithani">
    <link rel="shortcut icon" href="{% static 'blog/images/favicon.ico'%}">

    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"
        integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous">
    </script>

    <!-- Theme CSS -->

    <link href="{% static 'blog/tinymce/css/prism.css' %}" rel="stylesheet">
    <link id="theme-style" rel="stylesheet" href="{% static  'blog/css/theme-1.css'%}">
    <link rel="stylesheet" href="{%static '/blog/css/tagsinut.css'%}" />
    {% comment %}
    <link rel="stylesheet" href="/blog/css/jumbo.css" /> {% endcomment %}
</head>

<body>
    {% load static %}
    <div class="min-page-height">
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark"">
                <a class=" navbar-brand" href="/">DevBlog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/blogList">BlogPost <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/chat">Let's Chat<span class="sr-only">(current)</span></a>
                        </li>


                    </ul>
                    <div class="navbar-nav">
                        
                        {% if user.is_authenticated %}
                        <a class="nav-link" href="/blog/new">NewPost<span class="sr-only">(current)</span></a>
                        <a class="nav-link"" href=" {% url 'profile' %}">Profile<span
                                class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{% url 'logout' %}">Logout<span class="sr-only">(current)</span></a>
                        {% else %}
                        <a class="nav-link" href="{% url 'login' %}">Login<span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{% url 'register' %}">Register<span
                                class="sr-only">(current)</span></a>
                        {% endif %}
                    </div>
                    <form method="get" action="/search" class="form-inline my-2 my-lg-0 mx-3">
                        <input class="form-control mr-sm-2" type="search" id="query" name="query" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>

                </div>
            </nav>
        </div>
        <div class="container-fluid">

            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
                <strong>Message: </strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}

            <div class="row d-flex">
                <div class="order-1 order-md-1 col-12 col-md-2 border-right py-3 bg-sidebar-dark">
                    <div>
                        <div expand="md">
                            <div class="d-md-none">
                                <form class="my-0 form d-md-none d-inline w-25"><input class="form-control mr-md-2"
                                        type="text" name="q" placeholder="Search" aria-label="Search" value=""><button
                                        class="btn btn-outline-secondary d-none" type="submit">Search</button></form>
                            </div>
                            <div class="false">
                                <ul class="mb-4 list-group"><a class="list-group-item px-2 active" href="/"
                                        aria-current="page">Projects</a><a class="list-group-item px-2"
                                        href="/blogList">Posts</a><a class="list-group-item px-2" href="#">Topics</a>
                                </ul>
                                <ul class="mb-4 list-group"><a class="list-group-item px-2" href="#">Questions</a><a
                                        class="list-group-item px-2" href="#">Code
                                        Blocks</a></ul>
                                <ul class="mb-4 list-group"><a class="list-group-item px-2 text-success"
                                        href="/about">About Us
                                    </a>
                                    <a class="list-group-item px-2 text-success" href="/contact">Contact Us
                                    </a>
                                   
                                        
                                 

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                {% block body %} {% endblock body %}

            </div>
        </div>
        <footer class="footer text-center py-2 theme-bg-dark">
            <small class="copyright">Designed <i style="color: #fb866a;"></i> by sarthak</small>
        </footer>
    </div>

    <!-- Javascript -->
    <script src="{% static 'blog/plugins/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'blog/plugins/popper.min.js'%}"></script>
    <script src="{% static 'blog/plugins/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static "blog/tinymce/js/prism.js" %}"></script>
    <script src="{% static "/blog/js/tagsinut.js"%}"></script>

</body>

</html>